<!DOCTYPE html>
<html ng-app = "nameApp">
<head>
	<meta charset="utf-8">
	<title>Oppimistehtävä 4 - AngularJS</title>
	<script src="https//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://jashkenas.github.io/underscore/underscore-min.js"></script>
	<script src="https://jashkenas.github.io/backbone/backbone-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>

	<script>

	var nameApp = angular.module('nameApp', []);
	nameApp.controller('nameCtrl', function ($scope){
		$scope.names = ['Jon', 'Emil', 'Taneli'];

		$scope.addName = function() {
			$scope.names.push($scope.enteredName);
			$scope.enteredName = '';
		};

		$scope.removeName = function(name) {
			var i = $scope.names.indexOf(name);
			$scope.names.splice(i, 1);
		}
	});
	/* Example 13
		var nameApp = angular.module('nameApp', []);
		nameApp.controller('nameCtrl', function ($scope){
			$scope.firstName = 'Taneli';

			$scope.$watch('lastName', function(newValue, oldValue){
				console.log('new value is ' + newValue);
			});

			setTimeout(function(){
				$scope.lastName = 'Teerikorpi';
				$scope.$apply();
			}, 1000);
		}); */
	</script>

</head>

<body ng-controller="nameCtrl">

	<ul>
		<li ng-repeat="name in names">{{name}}
		<a href="" ng-click="removeName(name)">remove</a></li>
	</ul>
	<form ng-submit="addName()">
		<input type="text" ng-model="enteredName">
		<input type="submit" value="add">
	</form>
<!-- Example 13
	First name:<input ng-model="firstName" type="text"/>
	<br>
	Last name:<input ng-model="lastName" type="text"/>
	<br>
	Hello {{firstName}} {{lastName}}
-->
<!-- Example 4 with no libraries
<script>
		var textInputElement = document.getElementById('textInput'),
			nameDivelement = document.getElementById('nameDiv');

		textInputElement.addEventListener('keyup', function(){
			var text = textInputElement.value;
			nameDivelement.innerHTML = text;
		});
	</script> -->

<!-- example 5 with jquery	
	<script>
      $('#textInput').on('keyup', function(){
        $('#nameDiv').html($('#textInput').val());
      });
    </script>
-->

<!-- Example 6 with MVC !!DOES NOT WORK!!
	<script>
      // Model
      var model = new Backbone.Model({
        name: ''
      });
      // View
      model.on('change:name', function(){
        $('#nameSpan').html(model.get('name'));
      });
      // Controller
      $('#textInput').on('keyup', function(){
        model.set('name', $('#textInput').val());
      });
	</script>
-->



</body>
</html>